@import '/styles/reset.css';
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Italiana", sans-serif;
}
.header {
    background: url(/photo_2022-06-05_13-14-26\ 1.png) no-repeat center/cover;
    background-size: 2180px;
    width: 2180px;
    height: 1549px;
}

.a {
    font-weight: 200;
    font-size: 24px;
    color: #fff;
    margin-top: 55px;
    transition: .5s;
}

.nav-ul {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.a:hover{
    color: aqua;
}

.h1 {
    font-family: var(--font-family);
    color: #fff;
    font-weight: 200;
    font-size: 70px;
}

.p {
    font-family: var(--font-family);    
    font-weight: 300;
    font-size: 21px;
    color: #fff;
    margin-top: 30px;
}

.div {
    width: 636px;
    margin-top: 200px;
}

.container {
    margin-left: 430px;
    margin-right: 430px;
}

.header-button {
    font-family: var(--font-family);
    margin-top: 150px;
    width: 170px;
    height: 50px;
    background: #b47b48;
    border-radius: 17px;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.header-button:hover{
    color: #202023;
    
}

.header-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1320px;
}

.img {
    width: 300px;
    height: 250px;
    position: absolute;
}
.ooo{
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 610px;
    left: 100px;
}

.kartochka {
    background: #272727;
    width: 350px;
    height: 250px;
    margin-top: 400px;
    display: flex;
    transition: 2s;
}

.span {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    color: #fff;
}

.divv {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px;
    margin-bottom: 30px;
}

.header-span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.button {
    font-family: var(--font-family);
    z-index: 2;
    cursor: pointer;
    width: 79px;
    height: 34px;
    background: #c85312;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
}

.kartochkaa {
    background: #272727;
    width: 350px;
    height: 250px;
    margin-top: 400px;
    display: flex;
    transition: 2s;
}

.divvv {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-bottom: 30px;
}

.kartochkaaa {
    background: #272727;
    width: 350px;
    height: 250px;
    margin-top: 400px;
    display: flex;
    transition: 2s;
}

.kartochka:hover {
    background: #ebad51;
}
.kartochkaa:hover {
    background: #ebad51;
}

.kartochkaaa:hover {
    background: #ebad51;
}
.jhj{
    left: 1100px;
}
.hjh{
    left: 600px;
}